#elk configuration
elk:
  address: ["https://elasticsearch-in.3k.com"]
  username: "log_user"
  password: "ZpYeLNfaGWMVe9K2G&Wv"
  max_channel_size: 5000 # 队列最大长度
  logstash: ["http://192.168.3.35:5044"]
  max_retries: 5 # 最大重试次数
  retry_interval: 1 # 重试等待时间
  timeout: 5 # 超时时间
  default_index_name: "logstash" # 默认elk index name
  is_use_suffix_date: true # 是否使用日期作为后缀的index
  bulk_size: 10 # 批量单次写入elk的日志条数
